[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
blackcellmagic = "*"
v = {editable = true,version = "*"}
black = "*"

[packages]
sqlalchemy = "*"
pandas = "*"
numpy = "*"
black = "*"
ipykernel = "*"
flask = "*"
matplotlib = "*"
datetime = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
plotly = "*"

[requires]
python_version = "3.7"
